
.translate:hover {
    transform: scale(2);
    transition: all 2s ease;
    
}

#a1:hover {
    transform: translateX(40px) translateY(20px);
}

#a2:hover {
    
    transform: rotate3d(1.2, 1, 1.2);
}

#a3:hover {
    transform: skew(45deg);
}